@model SearchForDriversWebApp.Models.User

<body style="background-color: #EBEFF2;">

    <h2 class="text-center">Профіль</h2>

    <div style="background-color: lightgray; padding: 20px; border-radius: 20px;">
        <form asp-action="Edit" method="post">

            <div class="form-group">
                <label asp-for="Username">ПІБ:</label>
                <input asp-for="Username" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Email">Email:</label>
                <input asp-for="Email" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Phone">Телефон:</label>
                <input asp-for="Phone" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Role">Роль:</label>
                <input asp-for="Role" class="form-control" disabled />
            </div>

            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary" style="width:60%">Save Changes</button>
            </div>
        </form>
    </div>

</body>